/target/
/InstaSearchWeb/target
/InstaSearch/instasearch-clean-install.launch
/InstaSearch/run_InstaSearch_tomcat.launch
/InstaSearch/.settings
/InstaSearch/target
/InstaSearch/.classpath
/InstaSearch/.project
/InstaSearchWeb/.settings
/InstaSearchWeb/.classpath
/InstaSearchWeb/.project
/InstaSearchWeb/InstaSearchWeb.launch
/InstaSearch/Dominio/.settings
/InstaSearch/Dominio/target
/InstaSearch/Dominio/.classpath
/InstaSearch/Dominio/.project
/InstaSearch/Repositorio/.settings
/InstaSearch/Repositorio/target
/InstaSearch/Repositorio/.classpath
/InstaSearch/Repositorio/.project
/InstaSearch/Servico/.settings
/InstaSearch/Servico/target
/InstaSearch/Servico/.classpath
/InstaSearch/Servico/.project
